.wrapper{
    margin: 5px;
 }

    hl{
    text-align: center;
 }

    .examplel{
    height: 150px; width: 50%;
    background-color :cornflowerblue
}

    .example2 img{
    width: 400px; height: 400px;
 }
    
    